---
import Layout from "../layouts/Layout.astro";
---

<Layout title="home">
  <section transition:animate="slide"  class="home cursor-default px-8% text-white gap-4">
    <h1 class="slogan text-6xl font-semibold">
        <span
        class="text-transparent bg-clip-text bg-gradient-to-br from-indigo-900 via-indigo-500 to-red-700"
        > Aero Ventas Argentina</span
      > 
    </h1>
    <h2 class="max-w-4xl text-center parrafo"></h2>
    Vuela alto, vuela seguro   </h2>

    <div class="flex gap-6 mt-3">
      <a class="button" href="/products"> <span>Aeronaves</span></a>
      <a
        class="button"
        href="https://wa.me/+5492494372843"  >
        <span>Contacto</span>
      </a>
    </div>
    <div class="flex gap-6 mt-3"> <a target="_blank" href="https://wa.me/+5492494372843"><img class="w-14" src="/images/icono3.png" alt="" /></a>
      <a target="_blank" href="https://www.instagram.com/aeroventasargentina?igsh=MWljYTB2cGkzdXllMw%3D%3D&utm_source=qr"><img class="w-14" src="/images/icono2.png" alt="" /></a>
      <a target="_blank" href="https://www.facebook.com/profile.php?id=100095462401465&mibextid=LQQJ4d"><img class="w-14" src="/images/icono1.png" alt="" /></a></div>
  </section>

  

   
</Layout>

<style>
  .home {
    background-image:
      url(/images/bgh1.png);
    width: 100%;
    min-height: calc(100vh - 52px);
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

 

 
  

  @media (width > 200px) {
    span.item {
      right: 100px; 
      opacity: 0.8; 
      display: block; 
    }
  }

  

  @media (width > 500px) {
    span.item2 {
      right: 100px; 
      opacity: 0.8; 
      display: block; 
    }
  }


  @media (width > 200px) {
    span.item3 {
      right: 100px; 
      opacity: 0.8; 
      display: block; 
    }
  }


 

  @media (width > 200px) {
    span.item4 {
      right: 100px; 
      opacity: 0.8; 
      display: block; 
    }
  }

  

  @media (width > 200px) {
    span.item5 {
      right: 100px; 
      opacity: 0.8; 
      display: block; 
    }
  }


  .slogan {
    max-width: 850px;
    text-align: center;
  }

  .items {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .button {
    --color: #ffffff;
    width: 120px;
    height: 40px;
    background-color: transparent;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: 0.5s;
    font-weight: 400;
    font-size: 12px;
    font-weight: 600;
    border: 1px solid;
    text-transform: uppercase;
    color: var(--color);
    z-index: 1;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .button::before,
  .button::after {
    content: "";
    display: block;
    width: 70px;
    height: 70px;
    transform: translate(-50%, -50%);
    position: absolute;
    border-radius: 50%;
    z-index: -1;
    background: linear-gradient(10deg, rgb(33, 30, 30), #ff0101);
    transition: 1s ease;
  }

  .button::before {
    top: -1em;
    left: -1em;
  }

  .button::after {
    left: calc(100% + 1em);
    top: calc(100% + 1em);
  }

  .button:hover::before,
  .button:hover::after {
    height: 410px;
    width: 410px;
  }

  .button:hover {
    color: rgb(255, 255, 255);
  }

  .button:active {
    filter: brightness(0.8);
  }

  


  @media (width < 1092px) {
    .section-two .art2{
      justify-content: center;
      gap: 30px;
    }

    .art2{
      justify-content: center;
  }
  }

  @media (width < 600px) {
    h1{
      font-size: 2rem;
    }
  }
  
</style>
