<section class="section-cards">
  <main>
    <img src="/images/citationjet.png" alt="" />
    <h2
      class="text-transparent bg-clip-text bg-white"
    >
      CESSNA CITATION JET
    </h2>
    <span>
      <a transition:animate="slide" class="button" href="/md/first"> <span>CONTACTO</span></a>
    </span>
  </main>

  <main>
    <img src="/images/citationonesp.jpg" alt="" />
    <h2
      class="text-transparent bg-clip-text bg-white"
    >
CESSNA CITATION II SINGLE PILOT    </h2>
    <span>
      <a transition:animate="slide" class="button" href="/md/second"> <span>CONTACTO</span></a>

    </span>
  </main>
  <main>
    <img src="/images/navajo.jpg" alt="" />
    <h2
      class="text-transparent bg-clip-text bg-white"
    >
      PIPER NAVAJO
    </h2>
 
    <span>
      <a transition:animate="slide" class="button" href="/md/third"> <span>CONTACTO</span></a>

    </span>
  </main>
  <main>
    <img src="/images/340.jpg" alt="" />
    <h2
      class="text-transparent bg-clip-text bg-white"
    >
CESSNA 340     </h2>
 
    <span>
      <a transition:animate="slide" class="button" href="/md/third"> <span>CONTACTO</span></a>

    </span>
  </main>
  <main>
    <img src="/images/B58.jpg" alt="" />
    <h2
      class="text-transparent bg-clip-text bg-white"
    >
 BEECHCRAFT BARON - 58    </h2>
 
    <span>
      <a transition:animate="slide" class="button" href="/md/third"> <span>CONTACTO</span></a>

    </span>
  </main>
  <main>
    <img src="/images/mooney.jpg" alt="" />
    <h2
      class="text-transparent bg-clip-text bg-white"
    >
MOONEY    </h2>
 
    <span>
      <a transition:animate="slide" class="button" href="/md/fourth"> <span>CONTACTO</span></a>

    </span>
  </main>

  <main>
    <img src="/images/baron.jpg" alt="" />
    <h2
      class="text-transparent bg-clip-text bg-white"
    >
      BEECHCRAFT BARON 58
    </h2>
 
    <span>
      <a transition:animate="slide" class="button" href="/md/fifth"> <span>CONTACTO</span></a>

    </span>
  </main>
  <main>
    <img src="/images/r44.png" alt="" />
    <h2
      class="text-transparent bg-clip-text bg-white"
    >
      ROBINSON 44
    </h2>
 
    <span>
      <a transition:animate="slide" class="button" href="/md/sixth"> <span>CONTACTO</span></a>

    </span>
  </main>
  <main>
    <img src="/images/seneca2.jpg" alt="" />
    <h2
      class="text-transparent bg-clip-text bg-white"
    >
      PIPER SENECA
    </h2>
 
    <span>
      <a transition:animate="slide" class="button" href="/md/nine"> <span>CONTACTO</span></a>

    </span>
  </main>
  <main>
    <img src="/images/seneca.jpg" alt="" />
    <h2
      class="text-transparent bg-clip-text bg-white"
    >
      PIPER SENECA
    </h2>
 
    <span>
      <a transition:animate="slide" class="button" href="/md/seven"> <span>CONTACTO</span></a>

    </span>
  </main>
  <main>
    <img src="/images/BONAN.jpg" alt="" />
    <h2
      class="text-transparent bg-clip-text bg-white"
    >
BEECHCRAFT BONANZA A36 TC    </h2>
 
    <span>
      <a transition:animate="slide" class="button" href="/md/seven"> <span>CONTACTO</span></a>

    </span>
  </main>
  <main>
    <img src="/images/PIPER LANCE.jpg" alt="" />
    <h2
      class="text-transparent bg-clip-text bg-white"
    >
PIPER LANCE   </h2>
 
    <span>
      <a transition:animate="slide" class="button" href="/md/seven"> <span>CONTACTO</span></a>

    </span>
  </main>
  <main>
    <img src="/images/210.jpg" alt="" />
    <h2
      class="text-transparent bg-clip-text bg-white"
    >
CESSNA 210    </h2>
 
    <span>
      <a transition:animate="slide" class="button" href="/md/nine"> <span>CONTACTO</span></a>

    </span>
  </main>
  <main>
    <img src="/images/205.jpg" alt="" />
    <h2
      class="text-transparent bg-clip-text bg-white"
    >
CESSNA 205    </h2>
 
    <span>
      <a transition:animate="slide" class="button" href="/md/nine"> <span>CONTACTO</span></a>

    </span>
  </main>
 
  <main>
    <img src="/images/tecnam.jpg" alt="" />
    <h2
      class="text-transparent bg-clip-text bg-white"
    >
     TECNAM
    </h2>
 
    <span>
      <a transition:animate="slide" class="button" href="/md/nine"> <span>CONTACTO</span></a>

    </span>
  </main>
  <main>
    <img src="/images/182j.jpg" alt="" />
    <h2
      class="text-transparent bg-clip-text bg-white"
    >
CESSNA 182    </h2>
 
    <span>
      <a transition:animate="slide" class="button" href="/md/nine"> <span>CONTACTO</span></a>

    </span>
  </main>
  <main>
    <img src="/images/182h.jpg" alt="" />
    <h2
      class="text-transparent bg-clip-text bg-white"
    >
CESSNA 182    </h2>
 
    <span>
      <a transition:animate="slide" class="button" href="/md/nine"> <span>CONTACTO</span></a>

    </span>
  </main>
  <main>
    <img src="/images/182g.jpg" alt="" />
    <h2
      class="text-transparent bg-clip-text bg-white"
    >
CESSNA 182     </h2>
 
    <span>
      <a transition:animate="slide" class="button" href="/md/nine"> <span>CONTACTO</span></a>

    </span>
  </main>
  <main>
    <img src="/images/arrow.jpg" alt="" />
    <h2
      class="text-transparent bg-clip-text bg-white"
    >
      PIPER ARROW
    </h2>
 
    <span>
      <a transition:animate="slide" class="button" href="/md/nine"> <span>CONTACTO</span></a>

    </span>
  </main>
  <main>
    <img src="/images/172g.jpg" alt="" />
    <h2
      class="text-transparent bg-clip-text bg-white"
    >
CESSNA 172    </h2>
 
    <span>
      <a transition:animate="slide" class="button" href="/md/nine"> <span>CONTACTO</span></a>

    </span>
  </main>
  <main>
    <img src="/images/172.jpg" alt="" />
    <h2
      class="text-transparent bg-clip-text bg-white"
    >
     CESSNA 172
    </h2>
 
    <span>
      <a transition:animate="slide" class="button" href="/md/nine"> <span>CONTACTO</span></a>

    </span>
  </main>
  <main>
    <img src="/images/152II.jpg" alt="" />
    <h2
      class="text-transparent bg-clip-text bg-white"
    >
CESSNA 152 II    </h2>
 
    <span>
      <a transition:animate="slide" class="button" href="/md/third"> <span>CONTACTO</span></a>

    </span>
  </main>
  <main>
    <img src="/images/150.jpg" alt="" />
    <h2
      class="text-transparent bg-clip-text bg-white"
    >
    CESSNA 150
    </h2>
 
    <span>
      <a transition:animate="slide" class="button" href="/md/nine"> <span>CONTACTO</span></a>

    </span>
  </main>
  <main>
    <img src="/images/150L.png" alt="" />
    <h2
      class="text-transparent bg-clip-text bg-white"
    >
    CESSNA 150
    </h2>
 
    <span>
      <a transition:animate="slide" class="button" href="/md/nine"> <span>CONTACTO</span></a>

    </span>
  </main>
  <main>
    <img src="/images/150R.jpg" alt="" />
    <h2
      class="text-transparent bg-clip-text bg-white"
    >
    CESSNA 150
    </h2>
 
    <span>
      <a transition:animate="slide" class="button" href="/md/nine"> <span>CONTACTO</span></a>

    </span>
  </main>
  <main>
    <img src="/images/150A.jpg" alt="" />
    <h2
      class="text-transparent bg-clip-text bg-white"
    >
    CESSNA 150
    </h2>
 
    <span>
      <a transition:animate="slide" class="button" href="/md/nine"> <span>CONTACTO</span></a>

    </span>
  </main>
  <main>
    <img src="/images/piperpawnee.png" alt="" />
    <h2
      class="text-transparent bg-clip-text bg-white"
    >
      PIPER PAWNEE 
    </h2>
 
    <span>
      <a transition:animate="slide" class="button" href="/md/fourth"> <span>CONTACTO</span></a>

    </span>
  </main>
  <main>
    <img src="/images/lancair.jpg" alt="" />
    <h2
      class="text-transparent bg-clip-text bg-white"
    >
LANCAIR    </h2>
 
    <span>
      <a transition:animate="slide" class="button" href="/md/nine"> <span>CONTACTO</span></a>

    </span>
  </main>
 
  <main>
    <img src="/images/arion.jpg" alt="" />
    <h2
      class="text-transparent bg-clip-text bg-white"
    >
ARION LIGHTNING    </h2>
 
    <span>
      <a transition:animate="slide" class="button" href="/md/nine"> <span>CONTACTO</span></a>

    </span>
  </main>
 

 
  <main>
    <img src="/images/waiex.jpg" alt="" />
    <h2
      class="text-transparent bg-clip-text bg-white"
    >
WAIEX    </h2>
 
    <span>
      <a transition:animate="slide" class="button" href="/md/nine"> <span>CONTACTO</span></a>

    </span>
  </main>
  <main>
    <img src="/images/pa18.jpg" alt="" />
    <h2
      class="text-transparent bg-clip-text bg-white"
    >
      PIPER 18
    </h2>
 
    <span>
      <a transition:animate="slide" class="button" href="/md/nine"> <span>CONTACTO</span></a>

    </span>
  </main>
  <main>
    <img src="/images/j3.jpg" alt="" />
    <h2
      class="text-transparent bg-clip-text bg-white"
    >
      PIPER J3
    </h2>
 
    <span>
      <a transition:animate="slide" class="button" href="/md/nine"> <span>CONTACTO</span></a>

    </span>
  </main>
 
  <main>
    <img src="/images/affordastol.jpg" alt="" />
    <h2
      class="text-transparent bg-clip-text bg-white"
    >
AFFORDASTOL    </h2>
 
    <span>
      <a transition:animate="slide" class="button" href="/md/nine"> <span>CONTACTO</span></a>

    </span>
  </main>

 
  
</section>

<style>
  .section-cards {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 60px;
  }
  main {
    width: 320px;
    height: 360px;
    border-radius: 8px;
    backdrop-filter: blur(0px) saturate(100%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(14, 13, 13, 0.2);
    display: flex;
    flex-direction: column; /* Añadimos esta línea */
  justify-content: space-between; /* Añadimos esta línea */
  align-items: center; /* Añadimos esta línea */
  }

  main h2 {
    text-align: center;
  }
  main p {
    font-size: 13px;
    max-width: 310px;
    text-align: center;
  }

  main:hover {
    transform: scale(1.01);
    transition: all 0.3s ease;
  }

  main img {
    width: 100%;
    height: 210px;
    border-radius: 8px;
  }

  main span {
    width: 100%; /* Modificamos el ancho para abarcar todo el espacio disponible */
  display: flex;
  justify-content: center; /* Centramos los elementos horizontalmente */

  }
  .main-content {
  /* Agregamos un nuevo contenedor para el contenido principal */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1; /* Para que ocupe todo el espacio disponible verticalmente */
}

  .button {
    --color: #ffffff;
    width: 65px;
    height: 28px;
    background-color: transparent;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: 0.5s;
    font-weight: 400;
    font-size: 12px;
    font-weight: 600;
    border: 1px solid;
    text-transform: uppercase;
    color: var(--color);
    z-index: 1;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .button::before,
  .button::after {
    content: "";
    display: block;
    width: 55px;
    height: 55px;
    transform: translate(-50%, -50%);
    position: absolute;
    border-radius: 50%;
    z-index: -1;
    background: linear-gradient(10deg, rgb(4, 4, 133), rgb(201, 9, 9));
    transition: 1s ease;
  }

  .button::before {
    top: -1em;
    left: -1em;
  }

  .button::after {
    left: calc(100% + 1em);
    top: calc(100% + 1em);
  }

  .button:hover::before,
  .button:hover::after {
    height: 410px;
    width: 410px;
  }

  .button:hover {
    color: rgb(255, 255, 255);
  }

  .button:active {
    filter: brightness(0.8);
  }

  @media (width < 330px) {
    main{
      width: 300px;
    }
  }
</style>
