---
---

<header
  transition:animate="none"
  class="sticky top-0 header w-full px-8% z-30"
>
  <img class="w-14" src="/images/logoaero.png" alt="" />
  <nav class="flex z-30 justify-center items-center gap-10 nav text-white">
    <a class=" py-3 hover:text-transparent bg-clip-text bg-gradient-to-br from-indigo-600 from-10% via-primary via-30% to-red-600 transition" href="/"
      ><span
        class="text-transparent bg-clip-text bg-gradient-to-br from-indigo-600 from-10% via-primary via-30% to-red-600"
        >I</span
      >nicio</a
    >
    <a class="py-3 hover:text-transparent bg-clip-text bg-gradient-to-br from-indigo-600 from-10% via-primary via-30% to-red-600 transition" href="/products"
      ><span
        class="text-transparent bg-clip-text bg-gradient-to-br from-indigo-600 from-10% via-primary via-30% to-red-600"
        >A</span
      >eronaves</a
    >
    <a class="py-3 hover:text-transparent bg-clip-text bg-gradient-to-br from-indigo-600 from-10% via-primary via-30% to-red-600 transition" href="/about"
      ><span
        class="text-transparent bg-clip-text bg-gradient-to-br from-indigo-600 from-10% via-primary via-30% to-red-600"
        >N</span></span
      >osotros</a
    >
  </nav>
  <div class=" redes h-full flex justify-end items-center gap-2 z-10">
    <a target="_blank" href="https://wa.me/+5492494372843"><img class="w-14" src="/images/icono3.png" alt="" /></a>    <a target="_blank" href="https://www.instagram.com/aeroventasargentina?igsh=MWljYTB2cGkzdXllMw%3D%3D&utm_source=qr"><img class="w-14" src="/images/icono2.png" alt="" /></a>
    <a target="_blank" href="https://www.facebook.com/profile.php?id=100095462401465&mibextid=LQQJ4d"><img class="w-14" src="/images/icono1.png" alt="" /></a>
  </div>

</header>


<style>
  .header {
    background-color: rgb(0, 0, 0);
    display: grid;
    grid-template-columns: 25% 50% 25%;
    opacity: 0.96;
  }

  .nav {
    font-weight: 600;
    letter-spacing: 1px;
  }
  .redes a:hover{
    filter: invert(13%) sepia(90%) saturate(5054%) hue-rotate(245deg) brightness(73%) contrast(121%);
    transition: all .2s ease-in-out;
  }

  

  @media (width > 400px) {
    span.item {
      right: 100px;
      opacity: 0.8;
      display: block;
    }
  }

  
  @media (width > 400px) {
    span.item2 {
      right: 100px;
      opacity: 0.8;
      display: block;
    }
  }

  

  @media (width > 400px) {
    span.item3 {
      right: 100px;
      opacity: 0.8;
      display: block;
    }
  }

  @media (width < 650px) {
    .header{
      display: none;
    }
  }
</style>
